<!DOCTYPE html>
<html>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="products/{{id}}">Ecommerce</a>
    <button class="navbar-toggler btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"  aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarTogglerDemo02">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="products/{{id}}">Home</a>
        </li>
          <li class="nav-item">
            <a class="nav-link" href="your-orders/{{id}}">Your orders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="welcome-page">Logout</a>
          </li>
      </ul>
    </div>
  </nav>

  <div class="grid-container">
    <div class="empty" *ngIf="collection.length == 0">No products added in the cart. <a href="products/{{id}}">Click here to add</a></div>
  <div class="grid-item" *ngFor="let data of collection">
    <div class="card">
        <div class="container">
           <img src="{{data.image}}" height="120px" width="120px">
          <h5>Name: <b>{{data.name}}</b></h5>
          <h5>Brand: <b>{{data.brand}}</b></h5>
          <h5>Category:<b>{{data.category}}</b></h5> 
          <h5>Discount: <b>{{data.discount}}%</b></h5> 
          <h5>Price: <b>&#8377;{{data.price}}</b></h5> 
          <h5 *ngIf="data.stock > 0">Quantity:</h5>
          <select #quantity (change)="onSelected(quantity.value)" *ngIf="data.stock<5 && data.stock>0">
            <option *ngFor="let in of counter(data.stock); let d=index" value="{{d+1}}">{{d+1}}</option>
          </select>
          <select #quantity (change)="onSelected(quantity.value)" *ngIf="data.stock>4">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
          <span class="sorry" *ngIf="data.stock <= 0">Sorry! The product is not available</span><br>
          <button type="button" [disabled]="data.stock==0"  class="btn btn-primary btn-lg" (click)="addSales(data.product,data.id)">Buy</button><br>
          <button type="button" class="btn btn-danger btn-lg" (click)="deleteFromCart(data.id)">Remove from cart</button>
        </div>
        
      </div> 
         
  </div>
  
</div> 

</body>
</html>
<app-footer-lg></app-footer-lg>



